<html>
    <head>
        <title>Tia's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 18.03.2017, 16:00</p>
            <h2><a href="">My first post</a></h2>
            <p>I've enjoyed the Django Girls intro to coding workshop.</p>
        </div>

        <div>
            <p>published: 18.03.2017, 16:15</p>
            <h2><a href="">My second post</a></h2>
            <p>It's been fun but my brain is a little frazzled.</p>
        </div>
    </body>
</html>